<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<title>QI quotes</title>

		<style type="text/css">
		{% include 'style.css' %}
		</style>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

		<script type="text/javascript">
		{% include 'main.js' %}
		</script>
	</head>
	<body>
	<header>
		QI quotes - enter for new quote, ↑ and ↓ to scroll
	</header>
	<form action="/qi/" method="post">
		<div class="another">
			<input type="text" name="search" placeholder="search" value="{{to_search|default:""}}"/>
			<button type="submit" id="refresh" tabindex="0">Another!</button>
		</div>
		<div class="quotes">
		{% for quote in context_before %}
			{% with forloop.revcounter as context_count %}
			{% include 'context.html'%}
			{% endwith %}
		{% endfor %}
		{% include 'quote.html' %}
		{% for quote in context_after %}
			{% with forloop.counter as context_count %}
			{% include 'context.html' %}
			{% endwith %}
		{% endfor %}
		</div>	
	</form>
	<footer>
		<a href="http://qitranscripts.com" target="_blank">Made using episode transcripts from http://qitranscripts.com</a>
	</footer>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-44766332-1', 'g3th.net');
	  ga('send', 'pageview');

	</script>
	</body>
</html>
