{% extends "base.html" %}
{% block body %}
	<header>
		<span>QI quotes - space for new quote, ↑ and ↓ to scroll</span>
	</header>
	<form action="/" method="post">
		<div class="another">
			<input type="text" name="search" placeholder="search" value="{{to_search|default:""}}"/>
			<button type="submit" id="refresh" tabindex="0">Another!</button>
		</div>
		<div class="quotes">
		{% for quote in context_before %}
			{% with forloop.revcounter as context_count %}
			{% include 'context.html'%}
			{% endwith %}
		{% endfor %}
		{% include 'quote.html' %}
		{% for quote in context_after %}
			{% with forloop.counter as context_count %}
			{% include 'context.html' %}
			{% endwith %}
		{% endfor %}
		</div>	
	</form>
	<footer>
		<a href="http://qitranscripts.com" target="_blank">Made using episode transcripts from http://qitranscripts.com</a>
		<span> &copy; 2013 Robert Kirberich </span>
		{% if quote %}
			<a href="https://twitter.com/intent/tweet?original_referer=http://qiquotes.com/&text={{quote|urlencode}}&url=http://qiquotes.com/{{quote.pk}}/" class="twitter" target="_blank">
				<img src="https://twitter.com/favicons/favicon.ico" /> Tweet this
			</a>
		{% endif %}
	</footer>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-44766332-1', 'qiquotes.com');
	  ga('send', 'pageview');

	</script>
{% endblock %}
