{% extends "base.html" %}

{% block js %}{% include 'stats.js' %}{% endblock %}

{% block body %}
<div class="stats">
	{% if episode %}
	<h1>Episode {{episode}}</h1>
	<table>
		{% for quote in episode.quote_set.all %}
		<tr>
			<td class="stats-speaker">{{quote.speaker}}</td>
			<td {% if request.user.is_authenticated %}class="editable"{% endif %} data-id="{{quote.pk}}">{{quote.text}}</td>
			{% if request.user.is_authenticated %}<td><a class="delete-quote" href="/quote_delete/{{quote.pk}}">Delete</a></td>{% endif %}</tr>
		{% endfor %}
	</table>
	{% else %}
	<h1>Stats</h1>
	<h2>{{quote_count}} quotes in {{episodes.count}} episodes.</h2>
	<table>
		<tr><th>Episode</th><th>Quotes</th></tr>
		{% for episode in episodes %}
		<tr><td><a href="/stats/?episode={{episode.pk}}">{{episode}}</a></td><td>{{episode.quote_set.count}}</td></tr>
		{% endfor %}
	</table>
	{% endif %}
</div>
{% endblock %}